.tabs {
	display: flex;
	align-items: stretch;
	gap: var(--space-7);
	font-size: var(--font-size-2);
	color: var(--text-secondary);
}

.separator {
	width: var(--border-width-1);
	background: var(--border-default);
}
